








/* might make separate style sheets for separate elementsconcerns */


#sushi-menu {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  overflow: auto;
}
.sushi {
  display: grid;
  /* max-height: 400px; */
}
.sushi .button {
  align-self: end;
  outline-style: none;
}

.sushi .remove-from-menu-button {
  outline-style: none;
}

.order .empty-cart-button {
  outline-style: none;
}

.empty-cart-button {
  margin: 15px;
  font-size: 18px;
  font-family: 'Slackey', 'Open-Sans';
}



.order .checkout-button {
    margin: 15px;
  outline-style: none;
  font-size: 18px;
  font-family: 'Slackey', 'Open-Sans';
}

.checkout-button {
  align-items: center;
}

.custom .submit-button {
  outline-style: none;
  font-size: 18px;
  font-family: 'Slackey', 'Open-Sans';
}

.add-money-button {
  margin: 15px;
  margin-bottom: -25px;
  outline-style: none;
  font-size: 12px;
  font-family: 'Slackey', 'Open-Sans';

  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;


}

.logo {
  max-height: 10%;
  width: auto;
}


html {
  font-size: 18px;
  /* font-family:  'Helvetica Neue', 'Arial', sans-serif; */
  font-family: 'Slackey', 'Open-Sans';


}

body {
	/* width: 100vw; */
	height: 100vh;
  overflow: hidden;
  background-color: whitesmoke
}

.background-div {
  background-color: whitesmoke;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

* {
  box-sizing: border-box;
}

.sushi {

/* comment out below to save processor/battery */

  box-shadow: 0px 1px 5px #555;
  background-color: #FFF;
  margin-bottom: 15px;
  border-radius: 15px;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;


}
.sushi-title {
  font-size: 1.5rem;
  padding: 10px;
  padding-left: 20px;
  color: whitesmoke;
  font-weight: bold;
}

.sushi-image {
  margin-bottom: 10px;
}

.sushi-description {
  margin-top: 15px;
  padding-top: 15px;
  padding: .5rem;
  color: whitesmoke;
  /* background-color: tomato; */
  line-height: 1.6em;
}

.sushi-price {
  font-size: 1.5rem;
  padding: 10px;
  padding-right: 20px;
  color: whitesmoke;
  font-weight: bold;

}

.go-left {
  float: left;
}

.go-right {
  float: right;
}


.add-to-order-button, .checkout-button, .empty-cart-button, .submit-button, .add-new-sushi-button, .add-money-button {
  display: block;
  background-color: tomato;
  padding: 5px 10px;
  border-radius: 15px;
  width: 200px;
  color: white;
  text-decoration: none;
  text-align: center;
  /* float: left; */
  transition: .3s ease-out;
  &:hover {
      background-color: darken(tomato, 10%);
  }
}

.add-to-order-button {
  background-color: skyblue;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.remove-from-menu-button {
  border-radius: 15px;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.remove-from-order-button {
  width: 50px;
  margin: 10px;
}

.order-item {
  align-items: center;
  font-style: italic;
  border-width: 1px;
  border-radius: 50px;
  padding-top: 5px;
}

.order-item-name {
  margin: 5px;
}

.order-item-image {
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;

  /* align-self: flex-start; */
}

.span-width {
  width: 50px;
}

.add-new-sushi-button {
  margin: 15px;
  font-size: 18px;
  font-family: 'Slackey', 'Open-Sans';
}



img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

.container {
  display: grid;
  grid-gap: 5px;
  background-color: #FFF;
  height: 100vh;
  border-radius: 15px;
  /* grid-template-columns: repeat(12, 1fr); */
  grid-template-rows: 70px 350px 70px;
  grid-template-areas:
    /* "h h h h h h h h h h h h" */
    "m m c c c c c c c o o o "
}

.header {
  grid-area: h;
  text-align: left;
}


.order, .order-list {
  text-align: center;
  align-items: center;
  grid-area: m;
  /* background: #FFF; */
  border-radius: 5px;
  height: 100vh;
  padding: 10px;
  max-height: 100vh;
  overflow: auto;
}


.left-menu {
  /* height: 100vh; */
  overflow: auto;
}


.custom {
  text-align: left;
  grid-area: o;
  /* background: #FFF; */
  border-radius: 5px;
  height: 90vh;
  padding: 10px;
  max-height: 90vh;
  /* overflow: auto; */
}

.menu {
  /* grid-area: c; */
  height: 100vh;
  overflow: auto;
}

.custom {
  grid-area: o;
}

.menu h2{
  text-align: center;
}

.footer{
  text-align: center;
}

li{
  text-align: left;
}

/* #heading {
  background: red;
  background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
  background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@keyframes wiggle {
  20%  { transform: translateX(4px);  }
  40%  { transform: translateX(-4px); }
  60%  { transform: translateX(2px);  }
  80%  { transform: translateX(-1px); }
  100% { transform: translateX(0);    }
}

/* .wiggle:hover {
  animation: wiggle 1s ease;
  animation-iteration-count: 1;
} */

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  /* transform: scale(1.2); */
  animation: wiggle 0.5s ease-in-out;
  animation-iteration-count: 1;
}

.button-grow { transition: all .2s ease-in-out; }
.button-grow:hover { transform: scale(1.1); }


#sushi-menu {
  max-height: 100vh;
  /* overflow: auto; */
}


.card {
  /* Add shadows to create the "card" effect */
  /* background: #FFF; */
  box-shadow: 0 2px 4px 0;
  border-radius: 5px; /* 5px rounded corners */
  margin: 10px;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 4px 8px 0;
}

/* Add some padding inside the card container */
.card-container {

}

/* .remove-from-menu-button {
  float: right;
} */

nav {
  display: block;
  background-color: tomato;

}

.majin-logo {
  color: tomato;
  font-style: italic;
  font-size: 18px;
  font-family: 'Slackey', 'Open-Sans';
}

html.darkenPage {
  opacity: 0.4;
}

.majin-title {
  font-size: 1.2rem;
  font-style: oblique;
}


.order-title {
  font-size: 1rem;
}


.customize-title {
  font-size: 1rem;
}

.money-div {
  margin-top: 100px;
}

#custom-sushi {
  display: none;
}


.flash-alert {
  -webkit-animation: flash-animation 1s infinite;  /* Safari 4+ */
  -moz-animation: flash-animation 0.5s infinite;  /* Fx 5+ */
  -o-animation: flash-animation 0.5s infinite;  /* Opera 12+ */
  animation: flash-animation 0.5s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes flash-animation {
  0%, 49% {
    background-color: orange;
  }
  50%, 100% {
    background-color: #e50000;
  }
}



.shine {
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;

  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );

  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;

  -webkit-transition: background-position 1s ease;
     -moz-transition: background-position 1s ease;
       -o-transition: background-position 1s ease;
          transition: background-position 1s ease;
}

shine:hover {
  background-position: 0 0, 0 0;

  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}


.animated {
   -webkit-animation-duration: 4s;
   animation-duration: 4s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
.fadeIn {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}


@-webkit-keyframes wobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  20%  { -webkit-transform:  rotate(2deg); }
  50%  { -webkit-transform:  rotate(-2deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
.wobble { -webkit-animation: wobble 4s infinite; }


@-webkit-keyframes hobble  {
  0%  { -webkit-transform:  rotate(0deg); }
  25%  { -webkit-transform:  rotate(0.8deg); }
  50%  { -webkit-transform:  rotate(0deg); }
  75%  { -webkit-transform:  rotate(-0.8deg); }
  100%  { -webkit-transform:  rotate(0deg); }
}
.hobble { -webkit-animation: hobble 2s infinite; }




.shake {
  animation: shake 1s infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake-once {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}








a.tooltips {
    position: relative;
    display: inline;
    font-size: 12px;
    text-decoration: none;
}
a.tooltips span {
    position: absolute;
    width:250px;
    color: #778899;
    background: #F5F5F5;
    height: 150px;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    border-radius: 21px;
    font-size: 12px;

}
a.tooltips span:after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0; height: 0;
    border-bottom: 8px solid #F5F5F5;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    font-size: 12px;

}
a:hover.tooltips span {
    visibility: visible;
    opacity: 0.9;
    top: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
    font-size: 12px;

}
